<div class="navbar navbar-top hidden-sm">
    <a class="navbar-brand" href="#">&nbsp;Introduction to Unix</a>
</div>
<div class="navbar navbar-top visible-sm" ng-controller="Navigation">
    <a class="navbar-brand" href="#">Introduction to Unix</a>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <div class="nav-collapse collapse navbar-responsive-collapse">
        <div ng-include="'partials/menu.html'"></div>
    </div>
</div>